body {
	background: #f5f5f5;
}
* {
	margin: 0;
	padding: 0;
}
header {
	height: 190px;
	background-color: firebrick;
	margin: 0 auto;
	border-left: black solid 1px;
	border-right: black solid 1px;
}
h1 {
	color: white;
	text-align: center;
	position: relative;
	top: 65px;
	font-size: 3em;
	font-family: cooper;
}
h2 {
	position: relative;
	top: 30px;
	margin: 10px;
	padding: 10px 40px 40px 40px;
}
h3 {
	text-align: center;
	font-size: 2em;
}
h5 {
	color: white;
	text-align: center;
	font-size: 1.3em;
	position: relative;
	top: 110px;
}
p {
	text-align: justify;
	font-size: 1.5em;
}
a {
	text-decoration: none;
}
section {
	width: 50%;
	height: 700px;
	margin: 0 auto;
	/* background-color: white; */
	/* border-left: black solid 1px; */
	/* border-right: black solid 1px; */
}
#center {
	text-align: center;
	position: relative;
	top: 20px;
}
#test {
	color: black;
	border: #000 1px solid;
	padding: 10px 40px 40px 40px;
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top: 100px;
}
footer {
	height: 250px;
	background-color: #003366;
	margin: 0 auto;
	border-left: black solid 1px;
	border-right: black solid 1px;
}
@media screen and (max-width: 720px) {
	section {
		width: 75%;
	}
}
@media screen and (max-width: 480px) {
	section {
		width: 100%;
	}
	p {
		padding: 25px;
	}
	
}
@media screen and (max-width: 385px) {
	h1 {
		font-size: 2.5em;
	}
}
